# Dependencies
node_modules/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
*.log
local_settings.py
db.sqlite3
media/

# Build
*.egg-info/
dist/
build/

# Misc
backend/nul